*{
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #f4d2f5, #bae3f8); 
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh; 
}

.bold{
  font-weight: bold;
}

.dfjcac{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dfjsac{
  display: flex;
  justify-content: start;
  align-items: center;
}
.dfjeac{
  display: flex;
  justify-content: end;
  align-items: center;
}
.dfjeat{
  display: flex;
  justify-content: end;
  align-items:baseline;
}

.cursor-pointer{
  cursor: pointer;
}

.min-width-370{
  min-width: 370px;
}

.rounded-top{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.min-width-100{
  min-width: 100px;
}

.bg-off-white{
  background: rgb(245, 241, 241);
}

.height-230{
  height: 230px;
}

.bg-green-light{
  background: rgb(191, 246, 191);
}
